CONFIG_APB_TIMER=y
CONFIG_DECOMPRESS_LZ4=y
CONFIG_DEFAULT_SECURITY="selinux"
CONFIG_DEFAULT_SECURITY_SELINUX=y
CONFIG_DMAR_TABLE=y
CONFIG_DRM_DP_AUX_CHARDEV=y
CONFIG_DRM_I915=y
CONFIG_DRM_KMS_HELPER=y
CONFIG_DRM=y
CONFIG_DW_APB_TIMER=y
CONFIG_FB_SYS_COPYAREA=y
CONFIG_FB_SYS_FILLRECT=y
CONFIG_FB_SYS_FOPS=y
CONFIG_FB_SYS_IMAGEBLIT=y
CONFIG_HAVE_INTEL_TXT=y
CONFIG_I2C_ALGOBIT=y
CONFIG_INTEL_IOMMU_DEFAULT_ON=y
CONFIG_INTEL_IOMMU_FLOPPY_WA=y
CONFIG_INTEL_IOMMU_SVM=y
CONFIG_INTEL_IOMMU=y
CONFIG_INTEL_SCU_IPC_UTIL=y
CONFIG_INTEL_SCU_IPC=y
CONFIG_IOMMU_API=y
CONFIG_IOMMU_IOVA=y
CONFIG_KERNEL_LZ4=y
CONFIG_LZ4_COMPRESS=y
CONFIG_LZ4_DECOMPRESS=y
CONFIG_MFD_INTEL_MSIC=y
CONFIG_OF_IOMMU=y
CONFIG_PCI_PASID=y
CONFIG_PSTORE_LZ4_COMPRESS=y
CONFIG_RD_LZ4=y
CONFIG_RTC_DRV_VRTC=y
CONFIG_SECURITY_PATH=y
CONFIG_SECURITY_SELINUX_BOOTPARAM_VALUE=0
CONFIG_SECURITY_SELINUX_BOOTPARAM=y
CONFIG_SQUASHFS_LZ4=y
CONFIG_X86_INTEL_MID=y
